*
{
    box-sizing: border-box;
}
nav
{
padding: 15px 15px;
margin: 5px;
text-align: center;
}
.imagebox .col
{
    margin-left: auto;
    width: 220px;
    height: 220px;
    margin: 0 auto;
    text-align: center;
    left: 50%;
}
.imagebox2 .col1
{
    width: 220px;
    height: 220px;
    margin: 0 auto;
    position: relative;
    text-align: center;
}
.text.inline
{
    display:inline;
    width: 32%;
    height: 5% ;
    float: left;
    padding: 1px;
}

 
